.quarto-title-block .quarto-title-banner {
  background-image: url(VMNRlogoCircle.png);
  background-size: 250px;
  background-position: right;
  background-repeat: no-repeat;
  padding-left: 10px;
  background-origin: content-box;
}